/* Homepage */
.color{
    /*background-color: #F6811F;*/
    width: 4em;
    color: #fff;
    border: 0px;
    background: hsla(36, 91%, 55%, 1);
    background: linear-gradient(180deg, hsla(36, 91%, 55%, 1) 0%, hsla(27, 92%, 54%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(36, 91%, 55%, 1) 0%, hsla(27, 92%, 54%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(36, 91%, 55%, 1) 0%, hsla(27, 92%, 54%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F5A122", endColorstr="#F6811F", GradientType=1 );
}

.search{
    width: 30em !important;
}

footer{
    height: 16.7vh;
}

/* Frontend */
.card_image{
    height: 9em;
    width: 50%;
    margin-left: 25%;
    margin-top: 1.45em;
}

/* Contact Us */
form{
    width: 35em;

}